@model IEnumerable<NMS.Models.citizen_tbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


 
@* using (Html.BeginForm("action method name", "controller name", FormMethod.Post)) *@

 

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{




    <div class="input-group">
       
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>



}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.F_name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.curent_postal_code)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.perm_house_no)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnic_info_tbl.cnic_no)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.F_name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.curent_postal_code)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.perm_house_no)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cnic_info_tbl.cnic_no)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Citizen_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Citizen_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Citizen_id })
        </td>
    </tr>
}

</table>
